{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs",
          "targets": {
            "chrome": "55",
            "firefox": "56"
          }
        }],
        "react"
      ],
      "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        "transform-class-properties"
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "chrome": "55",
            "firefox": "56"
          }
        }],
        "react"
      ],
      "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        "transform-class-properties"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "chrome": "55",
            "firefox": "56"
          }
        }],
        "react"
      ],
      "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        "transform-class-properties"
      ]
    }
  }
}
