# dependencies
node_modules
*.log

# testing
coverage

# production
build
dist

# misc
.idea
.env
.vscode
npm-debug.log
*.zip

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
