ol.root
{
    list-style-type: none;
}

.root
{
    color: #000;
    line-height: normal;
    font-size: 11px;
    font-family: "Fira Code Retina", "Fira Code", Menlo, monospace;
    cursor: default;
    padding-left: 12px;
}

.root.closed > .root
{
    display: none;
}

.nameAndValue
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(33,33,33);

    margin-top: 1px;
    line-height: 15px;
}

.name
{
    color: rgb(136, 19, 145);
}

.value
{

}

.toJson .name
{
    color: #565656;
}


.root:not(.has-toggler) > .nameAndValue > .icon
{
    visibility: hidden;
}

.root.has-toggler .icon::before
{
    content: '\00a0\00a0';
    margin-right: -3px;
}

.root.has-toggler .icon
{
    position: relative;
    min-height: 15px;
    line-height: 15px;

    display: inline-flex;
    align-items: center;
}

.root.has-toggler .icon svg
{
    position: absolute;
    top: 4px;
    left: 0;
    height: 7px;
    width: 9.333px;
}
